{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Chats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>
    <link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="header">
    <ul id="mainmenu" class="mainmenu">
        <li class="logo"><a href="/"><div class="logo"></div></a></li>

        <li><a href="/">Головна сторінка</a></li>

        <li class="last">{{user}} | <a href="/logout">Вийти</a></li>
    </ul>
</div>


    <div class="row">
        <div class="col-3"></div>
            <div class="col-6">
                <div class="px-4 py-1 my-5" style="border-style:solid; background-color: #eee;">
                    {% if main_user == room.user_1 %}
                        <h2 class="text-center">{{ room.user_2 }}</h2>
                    {% else %}
                        <h2 class="text-center">{{ room.user_1 }}</h2>
                    {% endif %}

                    {% for message in page_obj %}
                        <div class="row">
                        <div class="col-4">
                            {% if message.1 == main_user %}
                                <p style="color: blue">{{ message.1 }}</p>
                            {% else %}
                                <p style="color: red">{{ message.1 }}</p>
                            {% endif %}
                            <p style="color: #999">{{ message.2 }}</p>
                        </div>
                        <div class="col-8"><p>{{ message.0 }}</p></div>
                        </div>
                    {% endfor %}





                    {% if page_obj.has_other_pages %}
			            <nav class="list-pages">
                            <ul>
                                {% if page_obj.has_previous %}
                                <li class="page-num2">
                                    <a href="?page={{ page_obj.previous_page_number }}"><</a>
                                </li>
                                {% endif %}

                                {% for p in content_paginator.page_range %}
                                    {% if page_obj.number == p %}
                                        <li class="page-num2 page-num-selected">{{ p }}</li>
                                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                        <li class="page-num2">
                                            <a href="?page={{ p }}">{{ p }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-num2">
                                        <a href="?page={{ page_obj.next_page_number }}">></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}



                </div>
                <div class="px-4 py-1 my-5" style="border-style:solid; background-color: #eee;">
                    <form method="post" action="/chat/{{ room.pk }}">{% csrf_token %}
                        <p></p>
                        <div class="row">
                            <div class="col-12">
                                <textarea name="message" rows="4" placeholder="Напишіть щось..." style="width: 100%"></textarea>
                            </div>
                        <p></p>
                        <button class="btn btn-warning btn-lg px-4 gap-3">Надіслати</button>
                        <p></p>
                        <button class="btn btn-warning btn-lg px-4 gap-3"><a href="/chat/{{ room.pk }}" style="color:black">Оновити сторінку</a></button>
                        <p></p>
                    </form>
                </div>
            </div>
        <div class="col-3"></div>
    </div>

</body>
</html>